*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	background-color: #f1f1f1;
	font-family: Arial, sans-serif;
	color:  #c2c2c2;
}
.container{
	padding: 5%;
	width: 90%;
	margin: 0 auto;
}
form{
	font-size: 0;
}
input,
button{
	display: inline-block;
	font-size: 90px;
	font-weight: bold;
	background: rgba(0, 0, 0, .0);
	border: 0;
	padding: 0;
	color: #ec5a62;
}
input{
	width: 80%;
}
button{
	width: 20%
}
.magnifier{
	width: 80px;
	height: 80px;
}

.col{
	display: inline-block;
	width: 30%;
	font-size: 0;
	vertical-align: top;
	margin: 5px;
}
.col__list{
	font-size: 14px;
	padding: 0;
}
.col:not(:last-child){
	margin-right: 3%;
}

.col__header{
	font-size: 14px;
	text-transform: uppercase;
}
.col__list li{
	list-style: none;
	background-color: #ebebed;
	font-size: 14px;
	margin: 5px 0;
	border-radius: 5px;
}
 .col__list li:hover,
 .col__list li:focus,
 .col__list li:active{
 	background-color: rgba(118,117,128,0.1);
 }

.col__list img{
	width: 35px;
    height: 35px;
    margin: 10px;
    vertical-align: middle;
}
.col:first-child li img{
    border-radius: 50%;
 }
.col__list li a{
	text-decoration: none;
	vertical-align: center;
	color:  #c2c2c2;
	display: inline-block;
	width: 100%;
}
.col__list li a:hover,
.col__list li a:focus,
.col__list li a:active{
	color: #ec5a62;
}

